/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2015, 3:25:29 PM
    Author     : clicklabs
*/
/*general body css starts*/
body
{
    margin: 0;
    padding: 0;
    position:relative;
}
/*general body css ends*/
/*header containing bbc logo */
header
{
    margin: 0px;
    padding: 0px;
    background-color:#990000;
    color:#FFFFFF;
    position:absolute;
}
/*BBC logo styling*/
#logo
{
   margin-top:0px;
   position:absolute;
   z-index:10;
   width:120px;
   height: 50px;
   margin-left:185px;
}
/*image running in the background of the header*/
#headerimage
{
    margin-top:0px;
    padding-left: 150px;
    width:1200px;
    height:90px;
    position:relative; 
}
/*Stylying of links present on the top-most bar of header*/
/*first link containing additional margin*/
.firstlink
{
   margin-left: 530px; 
}
/*general css for all the links*/
.headerlinks
{
    margin-top:5px;
    border-style: solid;
    border-width: 2px;
    background-color: #6D130E;
    padding:5px 10px 0px 10px;
    border-right-color:rgba(153, 0, 0, 0.5);
    border-left-color:rgba(153, 0, 0, 0.5);
    border-bottom-color: #6D130E;
    border-top-color: #6D130E;
    font-family: arial,helvetica,sans-serif;
    font-size: small;
    float:left;
    text-decoration:none;
    color:#FFFFFF;
}
/*hover effect (underline)*/
a:hover{text-decoration:underline;}
/*last link or the search-box*/
#searchBox
{
    color:#FFFFFF;
    text-decoration-color:#FFFFFF; 
    width:100px;
    height:10px;
    float: left;
    padding-bottom:3px;
 
}
/*css of the links ends*/
/**/
#headlines
{
  padding-top: 148px;
  
}
/*date displayed on the header*/
#date
{
    padding: 0;
    position:absolute;
    margin-top: 80px;
    margin-left: 325px;
    font-size: small;
}
#date
{
     z-index: 10;
}
/*css of links on the bottom of the header i.e. category-links begins*/
/*first link on the bottom*/
.firstlinkheader
{
    margin-left: 200px;
    background-color:#ededed;
    color: #505050;
    border-color: #ededed;
}
/**/
.lastlinkheader
{
    width: 250px;
}
/*general category-link css*/
.category
{
    margin-top:5px;
    border-style: solid;
    border-width: 2px;
    padding:5px 12px 0px 12px;
    float:left;
    position:relative;
    text-decoration:none;
}
a:hover{text-decoration:underline;}
.Xfirstlinkheader
{
    border-color: #3E0C0D;
    background-color: #3E0C0D;
    color:#FFFFFF;
}
/*haeder category-links css ends*/
/*forums with bbc links styling*/
.lastlinkforum
{
    width: 216px;
}
.forums
{
    margin-top:10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ededed;
    background-color:#ededed;
    padding: 4px 8px 4px 8px;
    float:left;
    position:relative;
    text-decoration:none;
    color: #505050;
    font-size: .923em;
    
}
a:hover{text-decoration:underline;}
/*forum links styling ends*/
/*css for the main content area*/
.body
{
    margin:0px 0 100px 200px;
    width:665px;
    float:left;
}
/*first news css begins*/
.headline1
{
    font-family: arial,helvetica,sans-serif;
    color:#4A7194;
    text-decoration: underline;
}
/*image in the first news*/
.newspic1
{
     float:left;
     padding:0px 10px 10px 0px;
     margin-bottom: 15px;
     
}
.news1
{
    font-family: arial,helvetica,sans-serif;
    margin: 10px 0px 0px 10px;
    //max-width: 224px!important;
    display: block;
    float: left;
    font-size:small;
}
/*css of first news begins*/
/*tickr displayed on the right of the web page*/
.tickr
{
    margin:10px 0px 100px 0px;
    float:left;
    width:330px;
    background-color: #ededed;
    padding: 0;
    color:#4A7194; 
    text-decoration:none;
}
.tickrimg
{
    padding:0px 8px 0px 8px;
    width: 150px;
    height:75px;
    float:left;
}
h1{
    font-family: arial;
    color:#4A7194;
    //padding:10px 10px;
    float:left;
}
h2{
    padding-right: 100px;
    padding-left:10px;
    font-family: arial;
    color:#4A7194;
}
/*headings in the tickr*/
h3
{
    font-family: arial;
    color:#4A7194; 
    text-decoration:none;
}
/*paragraphs in the tickr*/
p{
    color:black;
    font-size:small;
}
.tickrlinks
{
    text-decoration: none;
    color:#4A7194; 
}
a:hover{text-decoration:underline;}
/*end of the css of tickr*/
/*end of all css*/